<!doctype html>
<html ng-app="sort-app">
<head>
    <link rel="stylesheet/less" type="text/css" href="style.less" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.6.1/less.min.js" defer></script>
    <script src="app.js" defer></script>
    <script src="numberTileDirective.js" defer></script>
    <meta charset="utf-8">
</head>
<body>
    <div class="visit-wall-options container">
        <button class="btn btn-success start-sort-button" data-toggle="modal" data-target="#visit-wall">Pokaż listę gości</button>
        <button class="btn btn-success start-sort-button" data-toggle="modal" data-target="#add-to-visit-wall">Zapisz się na listę gości</button>
    </div>
    <div class="app-wrapper container" ng-controller="MainController as mainCtrl">
        <div class="modal fade" id="visit-wall" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content container">
                    <h3 style="text-align: center">Lista gości</h3>
                    <div ng-repeat="visitor in visitors track by $index" class="visitor">
                        {{visitor}}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="add-to-visit-wall" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content container">
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="name">Imię</label>
                            <input ng-model="visitorName" type="text" class="form-control" id="name" placeholder="Imię">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="surname">Nazwisko</label>
                            <input ng-model="visitorSurname" type="text" class="form-control" id="surname" placeholder="Nazwisko">
                        </div>
                        <button ng-click="addNewVisitor(visitorName, visitorSurname)" class="btn btn-default">Zapisz mnie !</button>
                    </form>
                </div>
            </div>
        </div>
        <h2>Podaj liczby do sortowania oddzielając przecinkiem</h2>
        <input class="number-input" ng-model="numberToAdd" ng-pattern="/^-{0,1}[0-9]+\.{0,1}[0-9]*,$/" ng-change="addNewNumber(numberToAdd)" ng-required>
        <button ng-click="startSorting()" class="btn btn-success start-sort-button">Sortuj!</button>
        <button ng-click="numbersToSort = []" class="btn btn-info start-sort-button">Wyczyść tablicę</button>
        <button ng-click="sortDirection = sortDirection == 'Rosnąco' ? 'Malejąco' : 'Rosnąco'" class="btn btn-info start-sort-button">{{sortDirection}}</button>
        <div class="numbers-container row">
            <number-tile ng-repeat="number in numbersToSort track by $index" tile-id="$index" number="number"></number-tile>
        </div>
    </div>
</body>
</html>